*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

.navbar{
    background: #131313;
    height: 80px;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar_container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar_logo{
    background-color: #ff8177;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb1 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.fa-gem{
    margin-right: 0.5rem;
}


.navbar_menu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}


.navbar_item{
    height: 30px;
}


.navbar_links{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    width: 100%;
}



.navbar_btn{
    display: flex;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    width: 100%;
}


.button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    background: #f77062;
    color: #fff;
}


.button:hover{
    background: #4837ff;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}



.navbar_links:hover{
    color: #f77062;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}


@media screen and (max-width: 960px){
    .navbar_container{
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }


    .navbar_menu{
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
        background: #131313;
    }


    .navbar_menu.active{
        background: #131313;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
    }

    #navbar_logo{
        padding-left: 25px;
    }
    


    .navbar_toggle{
        cursor: pointer;
    }


    .navbar_toggle .bar{
        width:25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        cursor: pointer;
    }


    .navbar_item{
        width: 100%;
    }


    .navbar_links{
        text-align: center;
        padding: 1.5rem;
        width: 100%;
        justify-content: center;
        display: table;
    }


    #mobile_menu{
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
        -webkit-transform: translate(5%, 20%);
        -moz-transform: translate(5%, 20%);
        -ms-transform: translate(5%, 20%);
        -o-transform: translate(5%, 20%);
    }


    .navbar_btn{
        padding-bottom: 2rem;
    }


    .button{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70%;
        height: 60px;
        margin: 0;
    }


    .navbar_toggle .bar{
        display: block;
        cursor: pointer;
    }


    #mobile_menu.is-active .bar:nth-child(2){
        opacity: 0;
    }

    #mobile_menu.is-active .bar:nth-child(21){
        transform: translateY(8px) rotate(45deg);
        -webkit-transform: translateY(8px) rotate(45deg);
        -moz-transform: translateY(8px) rotate(45deg);
        -ms-transform: translateY(8px) rotate(45deg);
        -o-transform: translateY(8px) rotate(45deg);
    }

    #mobile_menu.is-active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
        -webkit-transform: translateY(-8px) rotate(-45deg);
        -moz-transform: translateY(-8px) rotate(-45deg);
        -ms-transform: translateY(-8px) rotate(-45deg);
        -o-transform: translateY(-8px) rotate(-45deg);
    }


}

/* Hero Section css*/

.main{
    background-color: #141414;
}

.main_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 90vh;
    background-color: #141414;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}


.main_content h1{
    font-size: 2.2rem;
    background-color: #ff8177;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;

}


.main_content h2{
    font-size: 2rem;
    background-color: #ff8177;
    background-image: linear-gradient(to top, #b721ff 0%, #21d4fd 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main_content p{
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
}


.main_btn{
    font-size: 1rem;
    background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);
    padding: 14px 32px;
    border: none;
    color: #fff;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    -ms-transition: all 0.35s;
    -o-transition: all 0.35s;
    outline: none;
}


.main_btn a{
    text-decoration: none;
    position: relative;
    z-index: 2;
    color: #fff;
}


.main_btn:after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #4837ff;
    border-radius: 4px;
    transition: all 0.35s;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    -ms-transition: all 0.35s;
    -o-transition: all 0.35s;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.main_btn:hover{
    color: #fff;
}

.main_btn:hover:after{
    width: 100%;
}

.main_img-container{
    text-align: center;
}

#main_img{
    height: 100%;
    width: 100%;
}
/* Extra Responsib area */
@media screen and (max-width: 960px){
    .main_container{
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: 0 auto;
        height: 90vh;
    }


    .main_content{
        text-align: center;
        margin-bottom: 4rem;
    }

    .main_content h1{
        font-size: 2.5rem;
        margin-top: 2rem;
    }

    .main_content h2{
        font-size: 2.5rem;

    }

    .main_content p{
        margin-top: 1rem;
        font-size: 1.5rem;
    }

    .navbar_links{
        text-align: center;
        padding: 1rem;
        width: 100%;
        justify-content: center;
        display: table;
    }


}


/* Mobile Responsive */
@media screen and (max-width: 768px){
    .main_container{
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: 0 auto;
        height: 90vh;
    }


    .main_content{
        text-align: center;
        margin-bottom: 4rem;
    }

    .main_content h1{
        font-size: 2.5rem;
        margin-top: 2rem;
    }

    .main_content h2{
        font-size: 2.5rem;

    }

    .main_content p{
        margin-top: 1rem;
        font-size: 1.5rem;
    }

    .navbar_links{
        text-align: center;
        padding: 1rem;
        width: 100%;
        justify-content: center;
        display: table;
    }


}

@media screen and (max-width: 480px) {
    .main_content h1{
        font-size: 2rem;
        margin-top: 3rem;
    }

    .main_content h2{
        font-size: 1.6rem;

    }

    .main_content p{
        margin-top: 2rem;
        font-size: 1.5rem;
    }

    .main_btn{
        padding: 12px 36px;
        margin: 2.5rem 0;
    }

    .navbar_links {
        text-align: center;
        padding: 0rem;
        width: 100%;
        justify-content: center;
        display: table;
    }
}

/* Services Section CSS */

.services{
    background: #141414;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}


.services h1{
    background-color: #ff8177;
    background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%)
}




